extends layout

block content
	row
		p
		
		div.offset3
			img(src='img/lawn.jpg')
			h3(style='padding-top:10px;') A Bit About Us…
			p(style='width:450px;')
				| Art Vandelay Lawncare has been a staple of the community for hundreds of years. We exist solely to esure that your lawn is the best lawn it can be. You've read the book 
				u(style='color:#3FA539;') The Secret
				| ? We basically do that, but to lawns.
			p(style='width:500px;')
				| Our team of specialists are prepared to do whatever it takes to get your lawn to submit to your every demand. You've seen the show 
				i(style='color:#3FA539;') The Dog Whisperer
				| ? We basically do that, but, again, to lawns.
			p(style='width:500px;')
				| That should reassure you and clear up any doubts you may have had. Go ahead and
		div.offset4
			a.btn.btn-large.btn-success(href='/pricing') check out our pricing