div.footer
	row.span9.offset5
		:markdown
			Copyright 2012. Built by dan hanf. 
			Site powered by [node](http://nodejs.org/), 
			[express](http://expressjs.com/), 
			[jade](http://jade-lang.com/), 
			and [bootstrap](http://twitter.github.com/bootstrap/). 
		